<a href="https://colab.research.google.com/github/kimbetty/Python/blob/class/4%EC%9D%BC%EC%B0%A8_1%EA%B5%90%EC%8B%9C_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문

In [0]:
range(10)

range(0, 10)

In [0]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**For 문**


```
# for i in range(초기값, 한계값, 갭) :
  print(i)
```

In [0]:
for i in range(1, 13, 2) :
  print(i)

1
3
5
7
9
11

**리스트 컴프리헨션(list comprehension)**

*   파이썬의 리스트가 특이한 점은 리스트 안에 for 반복문과 if 조건문을 사용할 수 있다.
*    리스트 안에 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것

```
[식 for 변수 in 리스트]
list(식 for 변수 in 리스트)
```

In [0]:
a=[1.3, 2.1, 4.5, 5, 5.1]
for i in range(len(a)) :
  print(i, end=')')
  print(a[i], end='   ')

0)1.3   1)2.1   2)4.5   3)5   4)5.1

In [0]:
a=[1.3, 2.1, 4.5, 5, 5.1]
for i in range(len(a)) :
  print(a[i])

1.3
2.1
4.5
5
5.1

**[연습문제]**


1.   숫자를 입력받기(단, 정수)
2.   입력한 회수 만큼 Python 반복하기

In [0]:
count = int(input('반복할 횟수를 입력하세요: '))
 
for i in range(count):
    print('Hello, world!', i)

In [0]:
sum=0
a=list(map(int, input().split()))
for i in range(len(a)) :
  sum+=a[i]
print(sum)

1 2 3
6

In [0]:
for i in range(len(a)) :
  sum += a[i]
print(sum)

TypeError: ignored

In [0]:
for i in ['삼성', 'Apple', 'LG', '한화'] :
  print(i, end=' ')

In [0]:
for i in range(1, 13, 2) :
  print(i,end = '*')

In [0]:
for i in ['인천여상', '중앙여상', '인정산', '기계공고'] :
  print(i,end=' / ')

In [0]:
for i in range(1, 11) :
  print('i = ',i)
  sum += i
print('\nsum= ', sum)

In [0]:
menu=['치킨', '피자', '탕수육']
for i in menu:
  print('오늘의 메뉴 :' +i)

In [0]:
c=[i for i in range(1,11)]
c

In [0]:
import numpy as np
np.sort(c)

In [0]:
np.sum(c)

In [0]:
import sys
sys.version_info

In [0]:
np.sort(c)

In [0]:
np.sum(c)

In [0]:
np.max(c)

In [0]:
np.min(c)

In [0]:
 !cat /etc/issue.net

In [0]:
np.sum(c)

In [0]:
#sum(c)

**이중  For문**

---

In [0]:
for i in range(1,6) :
  for j in range(1,6) :
    print(j, end =' ')
  print('')

**[문제1]**

```
# 코드로 형식 지정됨
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1 
5 4 3 2 1

**[문제2]**

```
# 코드로 형식 지정됨
* * * * * 
* * * * 
* * * 
* * 
*

**[문제3]**

```
# 코드로 형식 지정됨
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

```

# 코드로 형식 지정됨
1 2 3 4 5 
1 2 3 4 
1 2 3 
1 2 
1

```

**[문제5] 구구단**
```
# 
2 * 1 = 2 
.....
9 * 9 = 81

for i in range(2, 10):
  for j in range(1, 10):
    print(i, '*', j, '=', i*j)
```

In [9]:
for i in range(1, 10):
  for j in range(2, 10):
    print('%d*%d=%d'%(j, i, i*j), end='\t')
  print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81