<a href="https://colab.research.google.com/github/kimbetty/Python/blob/class/5%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0.1.For문 복습

**[연습문제]**
1. 3부터 8까지 2씩 증가하는 수 출력
2. 
```
L
O
V
E
```

```
for ch in 'LOVE' :
  print(ch)
```

In [42]:
for ch in 'LOVE' :
  print(ch)

L
O
V
E

In [45]:
for i in ['트롯트', '힙합', '발라드', '댄스'] :
  print(i+' 듣기')

트롯트 듣기
힙합 듣기
발라드 듣기
댄스 듣기

In [51]:
for year in (2020, 2021) :
  print(year,'년')

2020 년
2021 년

In [52]:
for year in (2020, 2021) :
  print(str(year)+'년')

2020년
2021년

In [58]:
pl = {'C':1972, 'Java':1995, 'Python':1991}
for key in pl:
  print(key, '-', pl[key])

C - 1972
Java - 1995
Python - 1991

In [60]:
for i in range(1, 10) :
  print('2 × {}={}'.format(i, 2*i))

2 × 1=2
2 × 2=4
2 × 3=6
2 × 4=8
2 × 5=10
2 × 6=12
2 × 7=14
2 × 8=16
2 × 9=18

In [80]:
for i in range(1, 10) :
  for j in range(2, 10) :
    print('{}×{}={}'.format(j, i,i*j,end=''))
    if i == 5 :
      break
  print()

2×1=2
3×1=3
4×1=4
5×1=5
6×1=6
7×1=7
8×1=8
9×1=9

2×2=4
3×2=6
4×2=8
5×2=10
6×2=12
7×2=14
8×2=16
9×2=18

2×3=6
3×3=9
4×3=12
5×3=15
6×3=18
7×3=21
8×3=24
9×3=27

2×4=8
3×4=12
4×4=16
5×4=20
6×4=24
7×4=28
8×4=32
9×4=36

2×5=10

2×6=12
3×6=18
4×6=24
5×6=30
6×6=36
7×6=42
8×6=48
9×6=54

2×7=14
3×7=21
4×7=28
5×7=35
6×7=42
7×7=49
8×7=56
9×7=63

2×8=16
3×8=24
4×8=32
5×8=40
6×8=48
7×8=56
8×8=64
9×8=72

2×9=18
3×9=27
4×9=36
5×9=45
6×9=54
7×9=63
8×9=72
9×9=81

In [108]:
for i in range(2, 10) :
  for j in range(1, 10) :
    
    if i >= 5 :
      break
    print('%d×%d=%d' %(i,j,(i*j))) 

  print()

2×1=2
2×2=4
2×3=6
2×4=8
2×5=10
2×6=12
2×7=14
2×8=16
2×9=18

3×1=3
3×2=6
3×3=9
3×4=12
3×5=15
3×6=18
3×7=21
3×8=24
3×9=27

4×1=4
4×2=8
4×3=12
4×4=16
4×5=20
4×6=24
4×7=28
4×8=32
4×9=36

# 1.1. 함수이해하기


```
def add(a, b) :
  return a+b


add(3,8)
```

In [9]:
def add(a, b) :
  c=a+b
  return c
  # print('a=',a, 'b=', b, 'a+b=',  c)
add(3,8)

11

In [11]:
add(11, 2)

13

In [0]:
def say():
  print('아무노래나 틀어~신나는 걸로')

In [14]:
say()

아무노래나 틀어~신나는 걸로

In [0]:
def say_who(name):
  print('아무노래나 틀어~신나는 걸로', name)

In [17]:
say_who('Betty')

아무노래나 틀어~신나는 걸로 Betty

# 1.2. lambda 함수
```
함수 = lambda 변수 : 실행문
say_Hi = lambda name : print('Hi~~~~~!', name)

In [0]:
say_Hi = lambda name : print('Hi~~~~~!', name)

In [21]:
say_Hi("최경민")

Hi~~~~~! 최경민

# **[연습문제]**

1. 숫자 2개를 입력받는 in_put이라는 함수를 만든다.
2. jegop() 이라는 함수를 만들어 입력받은 수의 제곱을 만든다. 예) 입력받은수 3 2 이면 3의 2승은 9를 리턴한다.


---

In [0]:
def in_put() :
  a, b= input('숫자 2개 입력 >>> ').split()
  print('입력한 값 >>> ', a, b)
  return int(a), int(b)

In [35]:
in_put()

숫자 2개 입력 >>> 2 3
입력한 값 >>>  2 3

(2, 3)

In [0]:
def jegop() :
  a, b = in_put() 
  return a ** b

In [78]:
jegop()

숫자 2개 입력 >>> 1 2
입력한 값 >>>  1 2

1

In [79]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!